nav.navigation {
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #faebd7;
}

header {
  margin-bottom: 100px;
}

footer {
  background-color: #000;
  height: 300px;
}

footer img {
  margin-left: 300px;
}